body {
    text-align: center;
   }

#welcome {
color: #ffffff;
bottom: 0;
background: linear-gradient(#60ebeb 0%,27ae60 100%);
display: table;
width: 100px;
height: 100px;
z-index: 9;    
    }

.movie_head{
font-size: 20px;
padding: 6px 22px;
border-radius: 10px;
margin-bottom: 15px;    
}

.whats_new{
margin-top: 13px;
}

.whats_new-h4{
border-bottom: 1px solid white;
padding: 8px;    
}